<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>beam index</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script  src="js/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/beam/ind.js"></script>
</head>
<body>
    <h1>beam.io - simple control & receive</h1>
    <div>
        <span id="status">Connecting...</span>
        <input id="com" type="text"/>
        <input id="cont" type="text"/>
    </div>
    <div id="content"></div>
</body>
</html>